# 忽略 sap2000/models/ 下的所有文件
sap2000/models/*
# 但保留 .sdb、.py 和 .txt 文件
!sap2000/models/*.sdb
!sap2000/models/*.py
!sap2000/models/*.txt
venv
# 忽略abaqus/models/**/下除.py、.cae和.jnl文件外的所有文件
abaqus/models/**/*
!abaqus/models/**/
!abaqus/models/**/*.py
!abaqus/models/**/*.cae
!abaqus/models/**/*.jnl

.ipynb_checkpoints
code/.ipynb_checkpoints
