# 忽略 sap2000/models/ 下的所有文件
sap2000/models/*
# 但保留 .sdb、.py 和 .txt 文件
!sap2000/models/*.sdb
!sap2000/models/*.py
!sap2000/models/*.txt
venv
# 忽略abaqus/models/**/下除.py、.cae和.jnl文件外的所有文件
abaqus/models/**/*
!abaqus/models/**/
!abaqus/models/**/*.py
!abaqus/models/**/*.cae
!abaqus/models/**/*.jnl
latex/*
!latex/*.tex
coding/eulerBeam/__pycache__/
.ipynb_checkpoints
# 忽略code里面不用的文件，synctex.gz，latex和pdf点击command互联的文件
code/.ipynb_checkpoints
code/*.synctex.gz